/* General Styling */
body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Navbar */
.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
  font-weight: 500;
}

/* Footer styling */
.f-info {
  text-align: center;
  display: flex;
  height: 8rem;
  background-color: #ebebeb;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.f-info-socials,
.f-info-brand,
.f-info-links {
  width: 100%;
}

.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

/* Index Page Listing Cards */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text {
  font-weight: 400 !important;
}

.card-text p {
  font-weight: 400;
}

.listing-link {
  text-decoration: none;
}

/* New/Edit Button */
.add-btn, .edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* Show Page */
.show-img {
  height: 60vh !important;
}

/* Search Button */
.btn-search {
  background-color: #fe424d;
  color: white;
  border-radius: 25px;
  padding: 0 1rem 0 1rem;
}
.btn-search:hover {
  background-color: #fe424d;
  color: white;
}
.btn-search i {
  display: inline-block;
  margin-right: 0.5rem;
}

#map { height: 400px; width: 100%; border-radius: 10px; }

#filters { display: flex; flex-wrap: wrap; align-items: center; } .filter { text-align: center; margin-right: 2rem; margin-top: 2rem; opacity: 0.7; } .filter:hover { opacity: 1; cursor: pointer; } .filter p { font-size: 0.8rem; } .tax-info { display: none; } .tax-toggle { border: 1px solid black; border-radius: 1rem; height: 3.25rem; padding: 1rem; margin-left: auto; display: flex; align-items: center; }
